<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        首页
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <style>
      .post {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container head">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">首页</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          {% for nav in navs %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ nav.link }}">{{ nav.title }}</a>
              </li>
            </ul>
          {% endfor %}
        </div>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      <div class="jumbotron">
        <h1 class="display-4">Meow ~</h1>
      </div>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-9 post-list">
          {% block main %}

          {% endblock %}
        </div>
        <div class="col-3">
          {% block sidebar %}
            {% for sidebar in sidebars %}
              <div class="card sidebar">
                <div class="card-body">
                  <h5 class="card-title">{{ sidebar.title }}</h5>
                  <p class="card-text">{{ sidebar.content }}</p>
                </div>
              </div>
            {% endfor %}
          {% endblock %}
        </div>
      </div>
    </div>

    <footer>
      {% block footer %}
        <div class="container">
          <hr />
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p>&copy; 2019-2023 Meow.</p>
        </div>
      {% endblock %}
    </footer>
  </body>
</html>
