{% extends 'blog/base.html' %}


{% block title %}
  {{ post.title }}
{% endblock title %}
  

{% block main %}
  {% if post %}
    <h1 class="display-4">{{ post.title }}</h1>
    <div class="card-body">
      <span>作者：{{ post.owner }}</span>
      <span>分类：<a href="{% url 'category_list' post.category.id %}">{{ post.category }}</a></span>

    </div>
    <p class="card-text">{{ post.body }}</p>
  {% endif %}

  {% block comment %}
<div class="comment">
  <form class="form-group" action="/comment/" method="post">
    {% csrf_token %}
    <input type="hidden" name="target" value="{{ request.path }}"/>
    {{ comment_form }}
    <br>
    <button class="btn btn-primary" type="submit">发表评论</button>
  </form>
  <ul class="list-group">
    {% for comment in comment_list %}
      <li class="list-group-item">
        <div class="nickname">
          <a href="{{ comment.website }}">{{ comment.name }}</a>
          <span>{{ comment.created }}</span>
        </div>
        <div class="comment-content">{{ comment.body|safe }}</div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock comment %}
{% endblock %}